/*--Structure--*/

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}

img{
  width:60%;
  margin-left:40px;
 
}

img.about{
  width:auto;
  margin-right:40px;
}
img .portfolio{
  width:40%;
}

img.rounded{
  border-radius:8px;
}

footer{
  height:20px;
  background-color:gray;
}

footer p{
  font-size:8px;
  text-align:center;
}

/*---Header---*/

header{
  background-color:gray;
  margin-bottom:40px;
}

header h1{
  color:black;
  text-align:center;
  margin:0;
  padding-top: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:55px;
}

header nav{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

header nav ul{
  display:flex;
  padding-left:0;
  list-style:none;
}

header nav ul li a{
  color:#fff;
  text-decoration:none;
  margin: 0 20px 0 0;
}

header nav ul li last child a{
  margin-right:0;
}

@media all and (min-width: 600px){
  header{
    display:flex;
    justify-content:space-between;
    padding: 0 30px;
  }
  header h1{
    margin: 14px 0;
    padding-top: 0;
  }
  header nav{
    margin-top:8px;
  }
  header nav ul li a:hover{
    color:#bdbdbd;
  }
}

/*---Main---*/

main .intro{
  font-size: 24px;
  color: black;
}
h2{
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 350;
  text-align:center;
  padding-left:10px;
  margin-bottom:0;
  display:block;
  justify-content:center;
}
h2{
  font-size:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:300;
  text-align:center;
}
.header{
  display:flex;
  justify-content:center;
}

main p{
  font-family:Arial, Helvetica, sans-serif;
  line-height:2em;
  margin:20px 20px;
  text-align:center;
  width:80%;
}

main  a:link { color: #ada7a7; }
main  a:visited { color: #c9a2a2; }
main  a:hover { color: #746262; }
a:active { color: #403333; }


a:hover {
	text-decoration: underline;	
}

/*--Groups & Items (Mobile) ---*/

.group{
  display:flex;
  flex-direction: column;
}

item{
  flex:1;
  margin: 10px;
  padding: 20%
}

item-double{
  flex:2;
  margin: 10px;
}

/*---Groups & Items (desktop)---*/

@media all and (min-width: 600px) {
  section {
    padding: 10%;
  }
  .group {
    flex-direction: row;
  }
} 

/*---Article Sections---*/

#home, #portfolio,#contact {
  margin-bottom:50px;
  padding:30px;
}

/*---About Article---*/

#about {
  background-color:black;
  color:white;
  font-size:16px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 80px 0;
}
/*---Contact Section---*/
#contact{
 
  justify-content:space-evenly;
}

/*---Form---*/
form{
  padding:10px;
}

form label{
  display:block;
}

form input,
form textarea{
  width:100%;
  margin-bottom: 20px;
  margin-right:40px;
}

form textarea{
  height: 160px;
}

